include includes/header
<body class="index">
.wrap
	include includes/toolbar
	.background
	header.header
		.container
			.row
				.col-xs-4
					span.logo__line
				.col-xs-4.center
					a(href="#").logo
						include ../../public_html/layout/images/svg/logo.svg
				.col-xs-4.right
					span.logo__line.logo__line--right
include includes/footer