.catalog
	&__frame
		overflow hidden
		@media (min-width scr_sm)
			overflow visible
	&__top, &__clear
		width 100%
		border 1px solid black
		text-transform: uppercase
		color black
		font-weight: bold
		display block
		text-align: center
		height 30px
		line-height 33px
		font-size 11px
		letter-spacing 2px
		transition-property color, border, opacity
		transition-duration .3s
		position relative
		z-index 1
		svg
			margin-right 3px
			transform rotate(180deg)
		&:hover
			opacity 1
			color red
			border-color red
			svg path
				fill red
	&__top
		display none
		@media (min-width scr_md)
			display block
	&__clear
		opacity .5
		font-size 10px
		line-height 34px
		margin 0 auto
		margin-bottom 15px
		@media (min-width scr_sm)
			max-width (100/3)%
		@media (min-width scr_md)
			max-width none
	&__banner
		margin-bottom 30px
		img
			max-width 100%
			width 100%
	&__card
		position fixed
		top 50%
		left 50%
		text-align: center

		color white
		z-index 10001
		mwidth 300px
		margin-left -150px
		margin-top -170px
		font-size 14px
		line-height 20px
		@media (min-width scr_sm)
			width 700px
			margin-left -350px
			margin-top -244px
			line-height 28px
			font-size 23px
		&-text
			t opacity
		&-button
			display inline-block
			margin-top 20px
			border 2px solid white
			padding 10px 20px 3px
			color white
			font-size 15px

			font-weight: bold
			text-transform: uppercase
			t all
			&:hover, &:focus
				border-color red
				background red
				color white
		img
			margin-bottom 25px
			max-width 100%
		&-frame
			position fixed
			top 0
			left 0
			width 100%
			height 100%
			background alpha(black, .8)
			z-index 10000
			t opacity
	&__back
		display inline-block
		height 32px
		border 2px solid black
		color black
		text-transform: uppercase

		font-weight: bold
		line-height 33px
		padding 0 5px
		position relative
		text-align: center
		width 100%
		font-size 12px
		@media (min-width: scr_md)
			font-size 9px
		@media (min-width scr_lg)
			font-size 11px
		&:after
			content ""
			position absolute
			width 8px
			height 100%
			height 32px
			background url(../images/arrow.jpg) top left no-repeat
			background-size auto 200%
			z-index 2000
			top -2px
			left -2px
		&:hover, &:focus
			background black
			color white
			&:after
				background-position bottom left
	&__nav
		position relative
		z-index 50
		full-width()
		margin-bottom 20px
		@media (min-width scr_sm)
			margin-bottom 40px
	&__counter
		position absolute
		left 100%
		z-index 300
		white-space no-wrap
		background white
		border 1px solid red
		font-size 13px
		height 31px
		line-height 34px
		padding 0 15px
		display none
		margin-top 2px
		&:before, &:after
			content ""
			position absolute
			right: 100%;
			top: 50%;
			transform translateY(-50%)
			border: solid transparent;
			height: 0;
			width: 0;
			pointer-events: none;
		&:after
			border-right-color red
			border-width 6px
		&:before
			border-right-color white
			border-width 5px
			z-index 3
		a
			color red
			border-line alpha(red, .2, 12px)
	&__toolbar
		margin-top 8px
		border-bottom 1px solid #d5dbdf
		padding-bottom 8px
		text-transform uppercase
		font-size 12px
		color #171929
		position relative
		z-index 40
		white-space no-wrap
		.dropdown
			position relative
			z-index 10
			margin-bottom 20px
			@media (min-width scr_sm)
				margin-bottom 0
			&__frame
				padding-top 30px
				min-width 110%
				left -10px
				top -11px
				position absolute
				padding 30px 0px 0px 0px
				background white
				box-shadow 0 0 10px rgba(116, 132, 149, 0.8)
			&__item
				float left
				clear both
				font-size 12px
				line-height 15px
				color black
				white-space no-wrap
				padding 9px 10px 3px
				width 100%
				&:hover
					background black
					color white
			&__trigger
				color black
				position relative
				z-index 5
				svg
					margin-left 3px
					vertical-align baseline
					position relative
					top -1px
	&__seo
		width 100%
		margin-top 30px
		p
			font-size 12px
			color #6e6e6e
			line-height 16px
	&__title
		text-transform uppercase
		font-weight bold
		font-size 28px
		margin-top 25px
		margin-bottom 15px
		padding-bottom 0
		line-height 28px
		.tooltip
			text-transform: none
		&-description
			display inline-block
			background red
			height 25px
			width 25px
			border-radius 50%
			font-size 13px
			line-height 31px
			color white
			text-align: center
			vertical-align: top
			margin-left 5px
			margin-top -4px
			&:after
				content: attr('data-text')
			&:hover
				color white
	&__footer
		padding 19px 0 14px
		border-bottom 1px solid #d5dbdf
		border-top 1px solid #d5dbdf
		font-size 12px
		margin-top 30px
		@media (min-width scr_sm)
			margin-bottom 40px
		.footer-nav
			margin-top 20px
			@media (min-width scr_sm)
				margin-top 0
			&__item
				font-weight bold
				font-size 13px
				text-transform uppercase
				color black
				margin-right 30px
				&:last-of-type
					margin-right 0
				&:hover
					color red
	&__intro
		width 100%
		height 310px
		position relative
		margin-bottom 20px
		overflow hidden
		background red
		display block
		cursor pointer
		&--big
			@media (min-width scr_sm)
				height 640px
		&-picture
			position absolute
			top 0
			left 0
			width 100%
			height 100%
			background-size cover
			t all, 1s
			transform scale(1)
			opacity 1
			&:hover
				transform scale(1.05)
				opacity .8
		&-text
			text-transform uppercase
			color white
			position absolute
			z-index 20
			font-size 34px
			font-weight 300
			left 15px
			top 8px
			white-space no-wrap
			&--bottom
				top auto
				bottom 5px
			&--right
				left auto
				right 15px
			&--black
				color black
			&--center
				left 50%
				top 50%
				transform translate(-50%, -50%)
	&__divider
		width 100%
		float: left
		border-bottom 2px solid black
		margin 20px 0 20px
		&--title
			position relative
			&:after
				content attr(data-title)
				position absolute
				background white
				text-transform uppercase
				font-weight bold
				padding-right 14px
				top -7px
	&--full-width
		@media (min-width scr_sm)
			.col-lg-3
				width (100/3)%
		@media (min-width scr_md)
			.col-lg-3
				width 25%
		@media (min-width scr_lg)
			.col-lg-3
				width 20%
		.product
			.product__picture
				transform scale(1)
			&:hover
				.product__picture
					transform scale(1.03)
	&--one-line
		@media (min-width scr_md)
			.col-lg-3:nth-child(n+5)
				display none
		@media (min-width scr_lg)
			.col-lg-3:nth-child(n+5)
				display block
	&__frame, &--full-width
		.col-xs-6
			@media (max-width scr_xs)
				width 100%
			@media (min-width scr_xs and max-width scr_sm)
				width 50%
	article
		margin-bottom 50px
	.search-page
		display none

	.product
		width 100%
		position relative
		padding-bottom 10px
		text-transform uppercase
		font-weight bold
		z-index 20
		background white
		text-align: left
		margin-bottom 10px
		border-bottom 1px solid #ccc
		font-size 13px
		@media (min-width scr_xs)
			margin-bottom 20px
		@media (min-width scr_sm)
			font-size 14px
			width 100%
			border-bottom 0
			text-align center
		&--hover
			@media (min-width scr_sm)
				.product__sale
					transform scale(.85) translateZ(0)
				.product__picture
					transform scale(1.03) translateZ(0)
				.product__icon, .product__frame, .product__counter,  .product__button
					opacity 1
					pointer-events all
					transition-duration .5s
					z-index 7
				.product__frame
					box-shadow 0 0 10px rgba(116, 132, 149, 0.8)
					background white
					transition-duration .2s
					z-index 6
		&--index, &--hover
			z-index 50
		&--absolute
			z-index 500
			position absolute
		&__tradeline, &__showcase
			position absolute
			background red
			transform translateX(-50%)
			color white
			text-align: center
			bottom 10px
			left 20%

			font-size 7px
			@media (max-width: scr_sm)
				line-height 1.1
			@media (min-width: scr_sm)
				left 50%
				bottom 105px
				font-size 12px
				white-space no-wrap
				padding-top 6px
			&:after, &:before
				position absolute
				top 0
				left -12px
				width calc(100% + 24px)
				height 100%
				background red
				content ""
				z-index -1
			&:after
				transform skew(30deg,0)
			&:before
				transform skew(-30deg,0)
		&__showcase
			opacity: .5
			bottom auto !important
			top 15px
			max-width 80px
			letter-spacing 1px
			padding 5px 7px 3px
			@media (min-width: scr_sm)
				top 90px
				letter-spacing 0px
				max-width none
				padding 6px 10px 0px
			&:after, &:before
				display none
		&__sale
			position absolute
			background red
			color white
			display inline-block
			border-radius 50%
			t transform
			left 10px
			top auto
			bottom 10px
			text-align center
			overflow hidden
			width 30px
			height 30px
			line-height: 33px
			color red
			span
				vertical-align: middle
				line-height: 10px
				display none
			&:after
				content "%"
				position absolute
				color white
				left 50%
				top 50%
				text-indent 0
				color white
				z-index 200
				font-size 18px
				font-weight: bold
				transform translateX(-50%)
				margin-top -13px
				@media (min-width scr_sm)
					display none
			&--new:after
				content "new"
				font-size 8px
				margin-top -14px
			@media (min-width scr_sm)
				left auto
				right 10px
				top 135px
				width 80px
				height 80px
				line-height: 83px
				color white
				font-size 9px
				span
					display inline-block
			&--big
				@media (min-width scr_sm)
					font-size 12px
		&__frame
			position absolute
			background white
			z-index 0
			width 100%
			height 100%
			padding 10px 10px 50px 10px
			box-sizing content-box
			top -10px
			left -10px
			.catalog--italbags&
				padding-bottom 40px
		&__brand
			@media (min-width scr_xs)
				line-height 16px
			@media (min-width scr_sm)
				line-height inherit
		&__content
			position relative
			z-index 7
			&-text
				position absolute
				left 40%
				width 60%
				padding 0 0 0 20px
				top 50%
				margin-top 3px
				transform translateY(-50%)
				@media (min-width scr_sm)
					position relative
					width 100%
					padding 0
					margin 0
					left auto
					top auto
					transform none
			@media (min-width scr_sm)
				min-height 328px
		&__icon, &__button, &__frame, &__sizes, &__counter
			position absolute
			z-index 5
			opacity 0
			t all, .07s
		&__sizes
			width 100%
			left 0
			top 230px
			background white
			min-height 148px
			pointer-events none
			padding 14px 0
			.product__brand
				margin-bottom 10px
			.product__button
				bottom 10px
				opacity 1
				pointer-events none
			&--open
				opacity 1
				z-index 300
				pointer-events all
				.product__button
					pointer-events all
		&__counter
			width 84px
			left 50%
			margin-left -42px
			bottom -25px
			height 24px
			overflow: hidden
			text-align: center
			&-trigger
				float: left
				height 23px
				width 23px
				display: block
				text-align: center
				color black
				border 1px solid black
				font-weight: normal
				line-height 25px
				t all
				position relative
				&--plus
					line-height 26px
				&:hover
					color red
					border-color red
			&-input
				float: left
				text-align: center
				font-size 12px
				line-height 25px
				border 0
				font-weight: normal
				width 38px
				height 23px
				border-top 1px solid black
				border-bottom 1px solid black
		&__size
			display inline-block
			border 1px solid #a0a0a0
			color #a0a0a0
			height 21px
			line-height 24px
			min-width 30px
			font-size 12px
			position relative
			z-index 350
			t all
			&:hover
				border-color black
				color black
			&--active
				background black
				border-color black
				color white
				&:hover
					color white
		&__frame
			opacity 1
			background transparent
			z-index 0
		&__button
			bottom -36px
			border 1px solid black
			text-transform uppercase
			font-weight bold
			font-size 10px
			width 43%
			text-align center
			padding 7px 10px 2px 10px
			color black
			text-align: center
			&:hover
				border-color red
				background red
				color white
			&--more, &--cancel
				left 4px
			&--simmilar, &--buy
				right 4px
			&--center
				width 60.5%
				left 50%
				transform translateX(-50%)
		&__icon
			top 0px
			z-index 15
			svg path
				fill black
			&:hover
				svg path
					fill red
			&--zoom
				left 0px
			&--cart
				right 0px
			.catalog--italbags&
				bottom -31px
				top auto
		&__name
			font-size 11px
			opacity .6
			font-weight normal
			@media (min-width scr_sm)
				font-size 12px
		&__type
			font-weight normal
			opacity .6
			font-size 9px
			letter-spacing 0px
			@media (min-width scr_sm)
				max-height: 14px
				overflow: hidden
				font-size 10px
				letter-spacing 2px
		&__artnumber
			font-size 9px
			font-weight: normal
			opacity .6
			margin-top 1px
			@media (min-width scr_sm)
				font-size 10px
		&__price
			font-size 12px
			margin-top 10px
			del
				opacity .4
				margin-left 5px
				font-size 11px
		&__picture
			background-size contain
			background-position center center
			background-repeat no-repeat
			margin-bottom 10px
			transform scale(.9) translateZ(0)
			t transform, .2s
			&, &-frame
				min-height 115px
			&-frame
				width 40%
			@media (min-width scr_sm)
				&, &-frame
					min-height 220px
					width 100%

			&--no
				background-size contain
				@media (min-width: scr_sm)
					background-size 150px auto
			&-frame
				position relative
				display block
				overflow hidden
				@media (min-width scr_md)
					b('loader.gif', center center no-repeat, transparent, 80px auto)
	&--big
		.product
			&__sizes
				top 360px
			&__sale
				top 265px
			&__content
				min-height 453px
			&__picture
				min-height 350px
	@media (min-width scr_sm)
		.product--without-price
			.product__tradeline
				bottom 77px
			.product__content
				min-height 232px
		&.catalog--without-images
			.product
				&__content
					min-height 93px
				&__picture-frame
					position absolute
					transform translateY(-100%)
					opacity 0
					pointer-events none
					t(opacity)
					transition-duration .1s
				&--empty
					.product__picture-frame
						display none !important
				&__frame
					padding-top 240px
					margin-top -230px
				&__sale
					top -85px
				&__tradeline, &__sale
					opacity 0
				&__icon
					.s1 &
						top -230px
					.s2 &
						top 105px
				&--hover
					.product
						&__tradeline, &__sale
							opacity 1
						&__picture-frame
							pointer-events initial
							transition-duration .3s
							transition-delay .1s
							opacity 1
			.product--without-price
				.product
					&__icon
						top auto
						bottom -15px
					&__content
						min-height 73px
					&__frame
						padding-top 210px
					&__counter
						display none

.hello
	@extends .catalog__card-frame
	background rgba(0, 0, 0, .9)
	&__button
		@extends .catalog__card-button
		font-size 13px
		padding 14px 30px 9px
		border-width 1px
		margin-top 25px

	&__frame
		padding 40px 30px 50px
		width 100%
		max-width 700px
		color white

		position absolute
		top 50%
		left 50%
		text-align: center
		font-weight: 300
		transform translateY(-50%) translateX(-50%)
		font-size 14px
		@media (min-width scr_md)
			font-size 18px
		@media (min-width scr_lg)
			font-size 25px
		strong
			font-weight: 300
			font-size 18px
			margin-bottom 10px
			@media (min-width scr_md)
				font-size 28px
			@media (min-width scr_lg)
				font-size 36px
		a:not(.hello__button)
			color white
			border-line(alpha(@color, .5))
			&:hover
				color red
				border-line(alpha(@color, .5))
.filter
	border 1px solid #dddddd
	padding 10px 10px 4px 10px
	margin-bottom 15px
	overflow hidden
	position relative
	z-index 2
	min-height 34px
	display inline-block
	vertical-align: top
	width 100%
	&__form
		display none
		@media (min-width: scr_md)
			display block !important
			opacity 1 !important
			visibility visible !important
	&--loaded
		t all, .2s
	&:after
		position absolute
		z-index 20
		content ""
		top 0
		left 0
		background alpha(white, .8) url(/layout/images/loader.gif) center center no-repeat
		background-size 75px auto
		width 100%
		height 33px
		pointer-events none
		opacity 0
		t all, .4s
	&--loading
		&:after
			pointer-events initial
			opacity 1
	&--open
		.filter__content
			display block
		.filter__title
			svg
				transform rotate(60deg)
				transform-origin center center
	&__title
		width 100%
		background white
		text-transform uppercase
		font-weight bold
		font-size 11px
		position relative
		z-index 3
		cursor pointer
		t color
		svg
			position absolute
			right 0px
			width 8px
			top 3px
			t transform
		&:hover
			color red
			svg path
				fill red
		&--big
			font-size 13px
			padding-bottom 1px
			margin-bottom -3px
	&__content
		border-top 1px solid #dfdfdf
		margin-top 6px
		padding-top 15px
		display none
	&__colors
		margin-right -3px
		margin-left -3px
		line-height 4px
		margin-bottom 8px
	&__param
		width 100%
	.icheckbox, input[type="checkbox"], .icheckbox_color
		appearance none
		border 1px solid #dadada
		display inline-block
		margin-right 5px
		position relative
		t(all)
		box-shadow inset 0 0 0 1px white
		width 14px
		height 14px
		@media (min-width: scr_md)
			width 10px
			height 10px
			top -1px
		&.hover
			border-color black
		&.checked, &:checked
			background black
		&.disabled, &.disabled + label, &:disabled, &:disabled + label
			opacity .15
			pointer-events none

	.icheckbox_color, input.color

		margin 3px
		box-shadow inset 0 0 0 3.5px
		border 0
		cursor pointer
		top 0
		width 21px
		height 21px
		float left
		@media (min-width: scr_sm)
			float none
			width 25px
			height 25px
		@media (min-width: scr_md)
			width 21px
			height 21px
		&.ffffff
			box-shadow inset #dddddd 0 0 0 1px, inset #ffffff 0 0 0 3.5px, inset #dddddd 0 0 0 4px
		&.f12312
			box-shadow none
			position relative
			background linear-gradient( left top, rgba(255, 0, 0, 1) 0%, rgba(255, 255, 0, 1) 25%, rgba(0, 255, 0, 1) 40%, rgba(0, 255, 255, 1) 50%, rgba(0, 0, 255, 1) 65%, rgba(255, 0, 255, 1) 80%, rgba(255, 0, 0, 1) 100%)
			&:after
				position absolute
				t opacity
				content ""
				top 3.5px
				left 3.5px
				width 95%
				height 95%
				width calc(100% - 7px)
				height calc(100% - 7px)
				background white
				pointer-events none
		&.disabled
			opacity 0
		&:disabled
			opacity .15
			pointer-events none
		&.checked, &:checked
			background white
			box-shadow  inset 0 0 0 20px
			&.ffffff
				box-shadow inset #dddddd 0 0 0 1px, inset #ffffff 0 0 0 3.5px
			&.f12312
				box-shadow none
				background linear-gradient( left top, rgba(255, 0, 0, 1) 0%, rgba(255, 255, 0, 1) 25%, rgba(0, 255, 0, 1) 40%, rgba(0, 255, 255, 1) 50%, rgba(0, 0, 255, 1) 65%, rgba(255, 0, 255, 1) 80%, rgba(255, 0, 0, 1) 100%)
				&:after
					opacity 0
	.color
		&-label
			margin-left 5px
			line-height 32px
			font-size 12px
			height 21px
			width auto
			float left
		&-frame
			float left
			width 50%
			white-space no-wrap
			margin-bottom 5px
			@media (min-width: scr_xs)
				width (100/4)%

			@media (min-width: scr_sm)
				float none
				display inline
				width auto
	.icheckbox_color
		transition-duration 0s
		opacity 0
		position relative

		&:hover
			&:nth-child(5n + 1), &:first-of-type
				&:before
					left -10px
					transform none
			&:nth-child(5n), &:last-of-type
				&:before
					left auto
					right -10px
					transform none
			&:before
				opacity 0
				t opacity
				content attr(title)
				position absolute
				top -20px
				left 50%
				background alpha(black, .7)
				transform translateX(-50%)
				font-size 10px
				color white
				padding 4px 8px 0 8px
				border-radius 4px
				white-space no-wrap
		&.hover
			&:before
				opacity 1
		&.ready
			opacity 1
			transition-duration .3s
			&.disabled, &:disabled
				opacity .15
	input[type="checkbox"]
		top -3px
	input[name="color"]
		top 0
		color attr(data-color, color)
	label
		font-weight normal
		display inline-block
		width 86%
		vertical-align top
		font-size 14px
		@media (min-width: scr_md)
			font-size 13px
		&:first-letter
			text-transform uppercase
.range
	width 80%
	height 20px
	border 1px solid #979899
	font-size 11px
	line-height 23px
	padding 0 3px
	text-align center
	margin-bottom 15px
.irs
	width 100%
	position relative
	height 15px
	margin-top 3px
	display inline-block
	.irs
		margin-top 0
	*:focus
		outline none
	&-line
		width 100%
		background #dde0e4
		height 8px
		display inline-block
		position absolute
		top 0
	&-grid, &-min, &-max, &-from, &-to, &-single
		display none
	&-bar
		position absolute
		height 8px
		background #8797a2
		top 0px
	&-slider
		position absolute
		background #000000
		width 5px
		height 16px
		top -4px
	&-hidden-input
		display none
.pages
	width 100%
	margin-top -3px
	.pages__item
		display inline-block
		min-width 15px
		height 16px
		text-align center
		line-height 21px
		color black
		font-size 12px
		text-decoration: none
		text-transform uppercase
		background transparent
		& + .pages__item
			margin-left 2px
		&--all
			margin-left 8px
			border-line(alpha(black, .3))
			&:hover
				border-line(alpha(red, .3))
				background transparent

		&:hover
			color red
		&--active
			background black !important
			color white
			&:hover
				color white
.catalog__per-page
	@extends .pages .pages__item
	margin 0 1px
	padding 0 2px
	&:first-of-type
		margin-left 6px
.pswp__caption__center
	text-align: center
