html, body
	height 100%
body
	font-family 'Proxima', 'Helvetica Neue', 'Arial', sans-serif
	min-height 100%
	color black
	padding-top 55px
	@media (min-width scr_md)
		padding-top 0
	-webkit-font-smoothing: subpixel-antialiased
	&.index--fmarconi
		overflow hidden

.index
	&--italbags
		background #448fca
		.wrap
			position relative
			min-height 450px
			height 100vh
			max-height 100vh
			background url(/layout/images/italbags-main.jpg) bottom left no-repeat
			background-size cover
			margin-top -20px
			padding-top 30px
			@media (min-width scr_md)
				margin-top 0
				padding-top 0
				min-height 600px
		.index
			&__block
				position absolute
				top 40%
				transform translateY(calc(-50% - 10px))
				border 5px solid black
				max-width 90%
				padding 20px 30px 15px 18px
				text-transform: uppercase
				@media (min-width scr_sm)
					top 50%
					padding 30px 50px 15px 18px
				@media (min-height: 700px)
					padding 65px 80px 15px 18px
				span
					display inline-block
					
					font-weight 300
					text-transform: uppercase
					font-size 13px
					line-height 17px
					letter-spacing 1px
					opacity .7
					@media (min-width scr_sm)
						font-size 16px
						line-height 19px
					@media (min-height: 700px)
						font-size 26px
						line-height 29px
					
					
				h1
					font-weight: bold
					margin-bottom 0
					padding-top 0
					font-size 27px
					margin-top 10px
					@media (min-width scr_sm)
						font-size 32px
						margin-top 18px
					@media (min-height: 700px)
						font-size 42px
			&__logo
				margin-top 40px
				svg
					width 140px
					height 63px	
					@media (min-height: 700px)
						width 170px
						height 93px	

.textpage
	&__black
		background alpha(black, .8)
		color white
		padding 30px 50px
	&__divider
		text-align: center
		margin 30px 0 35px
		&:after
			display inline-block
			width 90px
			content ""
			height 3px
			background #96969d
	&__content
		padding-bottom 50px
		font-size 14px
		p
			max-width 85%
			margin-bottom 15px
			display inline-block
			
			&.highlight
				font-size 16px
				display inline-block
				margin-bottom 50px
				@media (min-width scr_md)
					max-width 80%
					font-size 19px
		ul, ol
			padding-left 20px
			margin-bottom: 25px
			&.small
				li
					margin-top 5px
			li
				margin-top 15px
				font-size 14px
		a:not([href^="#"])
			color red
			border-line alpha(@color, .5)
		h1
			text-transform: uppercase
			font-weight 300
			font-size 28px
			margin-top 20px

.achievements
	margin-right -15px
	margin-left -15px
	.achievement
		display inline-block
		border 1px solid #ececec
		padding 30px 40px
		text-align: center
		text-decoration: none
		width calc(100% - 30px)
		background transparent
		margin 0 15px 30px
		height 330px
		line-height 270px
		vertical-align: top
		position relative
		t border
		&--with-links
			padding 30px 40px 40px
			height 340px
		@media (min-width scr_xs)
			width calc(50% - 30px)
		@media (min-width scr_sm)
			width calc(33.333333333333336% - 30px)
		@media (min-width scr_md)
			width calc(25% - 30px)
		&__footer
			position absolute
			line-height 20px
			width 100%
			padding 0 25px
			left 0
			bottom 10px
			a
				background transparent
				text-transform: uppercase
				font-weight: bold
				font-size 12px
				color alpha(#6e6e73, .7)
				&:hover
					color red
		&:hover
			border-color red
		img
			max-width 100%
			max-height 250px

.showroom
	min-height 850px
	full-width()
	cursor: ew-resize
	background url(/layout/images/pano.jpg) top center no-repeat

.order-history
	margin-top 0px
	@media (min-width scr_sm)
		margin-top 40px
	@media (min-width scr_md)
		margin-top 0
.password-change
	.page__title
		margin-top 40px
		@media (min-width scr_sm)
			margin-top 0
		@media (min-width scr_md)
			margin-top 40px

#panel
	display none
	@media (min-width scr_md)
		display block

input[type="text"], input[type="email"], input[type="password"], textarea
	box-shadow none
	border-radius 0
	appearance none
input[type="submit"]
	border-radius 0
svg
	t fill
	path, g
		t fill

.scroll-fix
	position fixed
	width 100%
	height 100%
	top 0
	left 0
	z-index 300000
	pointer-events none
	.bx-ie
		display none
	&--on
		pointer-events initial

.wrap 
	full-width()
	min-height 100%
	padding-bottom 40px
	margin-bottom -40px
	@media (min-width scr_sm)
		padding-bottom 60px
		margin-bottom -60px
	position relative
	&:after
		content ""
		display block
	background-repeat no-repeat
	background-position center center
	.index--fmarconi &
		.background
			position absolute
			top -40px
			@media (min-width scr_md)
				top 0
			left 0
			width 100%
			height 100%
			b('bg-index.jpg', top center no-repeat, white, cover)
			t all
			animation-duration: 40s
			animation-name: zoom
			-webkit-animation-fill-mode: forwards

@keyframes zoom
	from
		transform scale(1)
	to
		transform scale(1.1)

.dropdown
	&__frame, &__select
		display none
	
	&__select
		display block
		opacity 0
		pointer-events none
		position absolute
		z-index -1
.profile
	max-width 95%
	a
		color red
		border-line alpha(red,.5)
	label
		font-weight: normal
		font-size 13px
		&.disabled
			opacity .5
		& + .iradio
			margin-left 15px
	&__gender
		margin-top 6px
	&__label
		text-align: left
		width 110%
		max-width 110%
		letter-spacing 2px
		
		text-transform: uppercase
		line-height 35px
		&--consedered
			letter-spacing: 0px
		label&
			font-size 11px
			font-weight: bold
		span
			display inline-block
			line-height 1.2
			vertical-align: middle
			
			
	
	.row + .row
		margin-top 10px
	.iradio
		display inline-block
		width 12px
		height 12px
		border-radius 50%
		border 1px solid black
		box-shadow inset 0 0 0 2px white
		vertical-align: middle
		top -2px
		margin-right 3px
		position relative
		&.disabled
			opacity .5
		&.checked
			background black
	input
		&:disabled
			pointer-events none
			background #f5f5f5
		&:focus
			outline 0
		+ label
			margin-top 10px
		&[type="text"], &[type="email"], &[type="password"]
			height 32px
			line-height 35px
			width 100%
			border 1px solid #cccccc
			t border
			text-align: left
			padding 0 10px
			&:focus
				border-color black
			&.parsley-error
				border-color red
				&:focus
					border-color alpha(red,.7)
		&[type="submit"]
			appearance none
			border 0
			margin-bottom 0
			font-size 13px
.parsley-errors-list
	display none
	list-style: none
	text-align: right
	font-size 10px
	text-transform: uppercase
	color red
	padding-left 0
	margin 0
	padding: 0
	li
		padding 5px 0 15px
		&.parsley-required, &.parsley-type
			display none
	#register &.filled
		display block
		margin-bottom 0!important

.condition
	overflow hidden
	t all
	min-height 57px
	
	& + .condition
		margin-top 20px
	border 1px solid #4b4b4b
	
	&-theme
		display none
		h4
			text-transform: uppercase
			font-size 15px
			font-weight: bold
		&--short
			max-width 80%
			margin 0 auto
		&__nav
			width 100%
			border-top 1px solid black
			border-bottom 1px solid black
			height 85px
			line-height 90px
			text-align: center
			margin-top 10px
			position relative
			&-item
				text-transform: uppercase
				font-weight: bold
				color #8797a2
				margin 0 8px
				white-space no-wrap
				font-size 12px
				@media (min-width scr_lg)
					margin 0 15px
					font-size 14px
				&:hover
					color red
				&--active
					color black
				&:first-of-type
					margin-left 0
				&:last-of-type
					margin-right 0
		&__arrow
			position absolute
			bottom -2px
			left 0px
			border-bottom 2px solid white
			z-index: 2
			width 48px
			transform translateX(-50%)
			t left
			&:after, &:before
				width 30px
				content ""
				position absolute
				top -9px
				left -3px
				border-bottom 1px solid black
				transform rotate(-35deg)
			&:after
				left 21px
				transform rotate(35deg)
		&__content
			padding 30px 0 0
			&-item
				display none
				min-height 110px
				p 
					width 100%
					max-width none
				&--active
					display block
	&__theme-trigger
		top -10px
		position relative
		font-size 17px
		font-weight 300
		color #8797a2
		border-line alpha(@color, .7)
		&--disabled
			pointer-events none
		&--active
			color black
			border-line alpha(@color, .7)
		&:hover
			color red
			border-line alpha(@color, .7)
	&__content
		display none
		position relative
		z-index: 1
		padding 20px 30px 10px
		p.highlight
			margin-bottom 20px
		h3
			font-size 18px
			text-transform: uppercase
			font-weight: bold
	&__trigger
		position relative
		z-index: 10
		background white
		height 55px
		display block
		background transparent !important
		line-height 67px
		font-size 26px
		text-align: center
		font-weight: bold
		color black !important
		text-transform: uppercase
		&--disabled
			pointer-events none
		&:hover
			color red !important
	&--open
		.condition
			&__content
				display block
			&__trigger
				color red !important
.modal
	&.overlay
		.modal
			&-backdrop
				background black
				opacity 1
			&-dialog
				padding 40px 0
				max-width none
				width 100%
				margin 0
				.close
					right 20px
					top 20px
					svg path
						fill white
				.nav
					margin-top 20px
					padding-left 0
					ul
						padding-left 0
						li
							.nav__item
								opacity .9
								font-size 15px
								padding-bottom 3px
						li:last-of-type
							border-bottom 0			
					li
						border-bottom 1px solid alpha(red, .6)
						&:first-of-type
							border-top 1px solid alpha(red, .6)
					&__item
						width 100%
						color white
						display inline-block
						text-transform: uppercase
						font-weight: bold
						text-align: center
						background transparent
						
						font-size 20px
						padding-top 8px
						line-height 35px
						@media (min-width scr_sm)
							font-size 30px
							line-height 60px
							padding-top 13px
						&--active
							background red
							color white
						&:focus, &:hover
							color red
						
	a
		color red
		font-size 13px
		border-line alpha(@color, .3)
		&:hover
			color black
			border-line alpha(@color, .3)
		&.lost
			margin-left 10px
	&__title
		font-size 35px
		text-align: center
		margin-bottom 10px
		margin-top -10px
	.captcha_refresh
		background transparent !important
		svg
			width 30px
			height 30px
			position relative
			left -15px
			top 24px
			path
				fill black
		&:hover
			svg
				path
					fill red
	label
		text-align: center
		width 100%
		letter-spacing 2px
		font-size 11px
		text-transform: uppercase
	ul + label
		margin-top 10px
	.captcha
		height 32px
		background-position center center
		background-repeat no-repeat
		width 100%
		border 1px solid #cccccc
	input
		&:focus
			outline 0
		+ label
			margin-top 10px
		&[type="text"], &[type="email"], &[type="password"]
			height 32px
			line-height 35px
			width 100%
			border 1px solid #cccccc
			t border
			text-align: center
			padding 0 10px
			&:focus
				border-color black
			&.parsley-error
				border-color red
				&:focus
					border-color alpha(red,.7)
		&[type="submit"]
			appearance none
			border 0
			margin-bottom 0
			font-size 13px
			&:disabled, &:disabled:hover
				background transparent
				box-shadow none
				color black
				border-color black
				border 1px solid black
				opacity .5
	textarea
		&:focus
			outline 0
		min-height 80px
		resize none
		width 100%
		border 1px solid #cccccc
		t border
		text-align: center
		padding 0 10px
		&.parsley-error
				border-color red
		&:focus
			border-color black
	.close
		position absolute
		right 10px
		top 10px
		background transparent !important
		@media (min-width scr_sm)
			right -60px
			top 0
		svg
			width 20px
			height 20px
			path
				fill black
			@media (min-width scr_sm)
				width 40px
				height 40px
				path
					fill white
	&-content
		border-radius 0
		min-height 100px
		padding 40px 30px 30px
		@media (min-width scr_sm)
			padding 30px
	&-frame
		width 100%
		
		min-height 100px
		position relative
		padding 30px 0
		border-top 2px solid black
		@media (min-width scr_sm)
			padding 30px
			border 2px solid black
		&:after
			content attr(data-title)
			position absolute
			background white
			text-transform: uppercase
			font-weight: bold
			padding 0 20px
			top -8px
			left 50%
			font-size 13px
			letter-spacing 6px
			white-space nowrap
			transform translateX(-50%)
	&-backdrop
		&.in
			opacity .8

.page
	full-width()
	&__side
		margin-bottom 30px
		&-trigger
			margin-bottom 20px
			width 100%
			border 1px solid black
			text-transform: uppercase
			color black
			font-weight: bold
			display block
			text-align: center
			height 30px
			line-height 33px
			font-size 11px
			letter-spacing 2px
			transition-property color, border, opacity
			transition-duration .3s
			position relative
			z-index 1
			.false
				display none
			&--open
				& + .filter__form
					display block
				.true
					display none
				.false
					display inline
				svg
					transform rotate(180deg)
			svg
				margin-right 3px
				
			&:hover
				opacity 1
				color red
				border-color red
				svg path
					fill red
		@media (min-width scr_md)
			margin-bottom 0
	&__title
		font-weight: bold
		
		border-line alpha(black, .2)
		margin-bottom 15px
		max-width 95%
		font-size 27px
		@media (min-width scr_md)
			font-size 30px
		&--full-width
			max-width none
		&--no-border
			background transparent
			max-width 100%

.side-nav
	border-top 1px solid #dfdfdf
	border-bottom 1px solid #dfdfdf
	margin-top 0px
	display block
	width 100%
	margin-bottom 20px
	padding 13px 0 5px
	text-align: center
	@media (min-width scr_sm)
		max-width 200px
		border 1px solid #dfdfdf
		padding 28px 20px 20px
		text-align: left
	&__item
		vertical-align: middle
		display inline-block
		text-transform: uppercase
		color black
		font-weight: bold
		margin 0 10px
		font-size 12px
		@media (min-width scr_sm)
			width 100%
			margin 0
			font-size 15px
		&--active
			color red
		&:hover
			color red
		& + .side-nav__item
			@media (min-width scr_sm)
				margin-top 15px
.contacts
	p
		font-size 15px
		line-height 23px
		a
			color red
			border-line(alpha(@color, .4))
			&:hover
				color black
				border-line(alpha(@color, .4))
	&__button
		text-align: center
		margin-top 20px
		margin-bottom -30px
		@media (min-width scr_md)
			text-align: right
			margin 0
	#contactsMap
		min-height 300px
		@media (min-width scr_sm)
			min-height 450px
		@media (min-width scr_md)
			min-height 550px
		full-width()
		margin-top 40px
		border-top 1px solid #e7e7e7
	a[href="#feedback"]
		max-width 200px
		min-width 0
		float: none
		
		@media (min-width scr_md)
			max-width none
.map-columns
	width 100%
	ul
		list-style none
	.map-level-0
		padding-left 0
		> li > a
			font-size 18px			
#bx-composite-banner
	text-transform: none
	top -7px
	position absolute
	right 0
	transform scale(.8)
	white-space no-wrap
	.index &
		right 130px
		transform scale(.6)
	opacity .4
	line-height 40px
	t opacity
	&:hover
		opacity 1

.feedback
	&__dialog
		max-width 500px
	&__success
		display none