html, body
	height 100%
body
	font-family 'Proxima', 'Helvetica Neue', 'Arial', sans-serif
	min-height 100%
	color black
	padding-top 55px
	@media (min-width scr_md)
		padding-top 0
	-webkit-font-smoothing: subpixel-antialiased
	&.index
		overflow hidden

.textpage
	&__content
		padding-bottom 50px
		ul, ol
			padding-left 20px
			margin-bottom: 25px
			li
				margin-top 15px
		a
			color red
			border-line alpha(@color, .5)
.order-history
	margin-top 0px
	@media (min-width scr_sm)
		margin-top 40px
	@media (min-width scr_md)
		margin-top 0
.password-change
	.page__title
		margin-top 40px
		@media (min-width scr_sm)
			margin-top 0
		@media (min-width scr_md)
			margin-top 40px

#panel
	display none
	@media (min-width scr_md)
		display block

input[type="text"], input[type="email"], input[type="password"], textarea
	box-shadow none
	border-radius 0
	appearance none
input[type="submit"]
	border-radius 0
svg
	t fill
	path, g
		t fill

.scroll-fix
	position fixed
	width 100%
	height 100%
	top 0
	left 0
	z-index 300000
	pointer-events none
	.bx-ie
		display none
	&--on
		pointer-events initial

.wrap 
	full-width()
	min-height 100%
	padding-bottom 40px
	margin-bottom -40px
	@media (min-width scr_sm)
		padding-bottom 60px
		margin-bottom -60px
	position relative
	&:after
		content ""
		display block
	background-repeat no-repeat
	background-position center center
	.index &
		.background
			position absolute
			top -40px
			@media (min-width scr_md)
				top 0
			left 0
			width 100%
			height 100%
			b('bg-index.jpg', top center no-repeat, white, cover)
			t all
			animation-duration: 40s
			animation-name: zoom
			-webkit-animation-fill-mode: forwards

@keyframes zoom
	from
		transform scale(1)
	to
		transform scale(1.1)

.dropdown
	&__frame, &__select
		display none
	
	&__select
		display block
		opacity 0
		pointer-events none
		position absolute
		z-index -1
.profile
	max-width 95%
	label
		text-align: left
		width 100%
		letter-spacing 2px
		font-size 11px
		text-transform: uppercase
		line-height 35px
	.row + .row
		margin-top 10px
	input
		&:focus
			outline 0
		+ label
			margin-top 10px
		&[type="text"], &[type="email"], &[type="password"]
			height 32px
			line-height 35px
			width 100%
			border 1px solid #cccccc
			t border
			text-align: left
			padding 0 10px
			&:focus
				border-color black
			&.parsley-error
				border-color red
				&:focus
					border-color alpha(red,.7)
		&[type="submit"]
			appearance none
			border 0
			margin-bottom 0
			font-size 13px
.parsley-errors-list
	display none
.modal
	&.overlay
		.modal
			&-backdrop
				background black
				opacity 1
			&-dialog
				padding 40px 0
				max-width none
				width 100%
				margin 0
				.close
					right 20px
					top 20px
					svg path
						fill white
				.nav
					margin-top 25px
					&__item
						width 100%
						color white
						display inline-block
						text-transform: uppercase
						font-weight: bold
						text-align: center
						background transparent
						border-bottom 1px solid alpha(red, .6)
						font-size 20px
						padding-top 10px
						line-height 35px
						@media (min-width scr_sm)
							font-size 30px
							line-height 60px
							padding-top 13px
						&--active
							background red
							color white
						&:focus, &:hover
							color red
						&:first-of-type
							border-top 1px solid alpha(red, .6)
	a
		color red
		font-size 13px
		border-line alpha(@color, .3)
		&:hover
			color black
			border-line alpha(@color, .3)
		&.lost
			margin-left 10px
	&__title
		font-size 35px
		text-align: center
		margin-bottom 10px
		margin-top -10px
	.captcha_refresh
		background transparent !important
		svg
			width 30px
			height 30px
			position relative
			left -15px
			top 24px
			path
				fill black
		&:hover
			svg
				path
					fill red
	label
		text-align: center
		width 100%
		letter-spacing 2px
		font-size 11px
		text-transform: uppercase
	ul + label
		margin-top 10px
	.captcha
		height 32px
		background-position center center
		background-repeat no-repeat
		width 100%
		border 1px solid #cccccc
	input
		&:focus
			outline 0
		+ label
			margin-top 10px
		&[type="text"], &[type="email"], &[type="password"]
			height 32px
			line-height 35px
			width 100%
			border 1px solid #cccccc
			t border
			text-align: center
			padding 0 10px
			&:focus
				border-color black
			&.parsley-error
				border-color red
				&:focus
					border-color alpha(red,.7)
		&[type="submit"]
			appearance none
			border 0
			margin-bottom 0
			font-size 13px
	textarea
		&:focus
			outline 0
		min-height 80px
		resize none
		width 100%
		border 1px solid #cccccc
		t border
		text-align: center
		padding 0 10px
		&.parsley-error
				border-color red
		&:focus
			border-color black
	.close
		position absolute
		right 10px
		top 10px
		background transparent !important
		@media (min-width scr_sm)
			right -60px
			top 0
		svg
			width 20px
			height 20px
			path
				fill black
			@media (min-width scr_sm)
				width 40px
				height 40px
				path
					fill white
	&-content
		border-radius 0
		min-height 100px
		padding 40px 30px 30px
		@media (min-width scr_sm)
			padding 30px
	&-frame
		width 100%
		
		min-height 100px
		position relative
		padding 30px 0
		border-top 2px solid black
		@media (min-width scr_sm)
			padding 30px
			border 2px solid black
		&:after
			content attr(data-title)
			position absolute
			background white
			text-transform: uppercase
			font-weight: bold
			padding 0 20px
			top -8px
			left 50%
			font-size 13px
			letter-spacing 6px
			white-space nowrap
			transform translateX(-50%)
	&-backdrop
		&.in
			opacity .8

.page
	full-width()
	&__side
		margin-bottom 30px
		&-trigger
			margin-bottom 20px
			width 100%
			border 1px solid black
			text-transform: uppercase
			color black
			font-weight: bold
			display block
			text-align: center
			height 30px
			line-height 33px
			font-size 11px
			letter-spacing 2px
			transition-property color, border, opacity
			transition-duration .3s
			position relative
			z-index 1
			.false
				display none
			&--open
				& + .filter__form
					display block
				.true
					display none
				.false
					display inline
				svg
					transform rotate(180deg)
			svg
				margin-right 3px
				
			&:hover
				opacity 1
				color red
				border-color red
				svg path
					fill red
		@media (min-width scr_md)
			margin-bottom 0
	&__title
		font-weight: bold
		
		border-line alpha(black, .2)
		margin-bottom 15px
		max-width 95%
		font-size 27px
		@media (min-width scr_md)
			font-size 30px
		&--full-width
			max-width none
		&--no-border
			background transparent
			max-width 100%

.side-nav
	border-top 1px solid #dfdfdf
	border-bottom 1px solid #dfdfdf
	margin-top 0px
	display block
	width 100%
	margin-bottom 20px
	padding 13px 0 5px
	text-align: center
	@media (min-width scr_sm)
		max-width 200px
		border 1px solid #dfdfdf
		padding 28px 20px 20px
		text-align: left
	&__item
		vertical-align: middle
		display inline-block
		text-transform: uppercase
		color black
		font-weight: bold
		margin 0 10px
		font-size 12px
		@media (min-width scr_sm)
			width 100%
			margin 0
			font-size 15px
		&--active
			color red
		&:hover
			color red
		& + .side-nav__item
			@media (min-width scr_sm)
				margin-top 15px
.contacts
	p
		font-size 15px
		line-height 23px
		a
			color red
			border-line(alpha(@color, .4))
			&:hover
				color black
				border-line(alpha(@color, .4))
	&__button
		text-align: center
		margin-top 20px
		margin-bottom -30px
		@media (min-width scr_md)
			text-align: right
			margin 0
	#contactsMap
		min-height 300px
		@media (min-width scr_sm)
			min-height 450px
		@media (min-width scr_md)
			min-height 550px
		full-width()
		margin-top 40px
		border-top 1px solid #e7e7e7
	a[href="#feedback"]
		max-width 200px
		min-width 0
		float: none
		
		@media (min-width scr_md)
			max-width none
.map-columns
	width 100%
	ul
		list-style none
	.map-level-0
		padding-left 0
		> li > a
			font-size 18px			
#bx-composite-banner
	text-transform: none
	top -7px
	position absolute
	right 0
	transform scale(.8)
	white-space no-wrap
	.index &
		right 130px
		transform scale(.6)
	opacity .4
	line-height 40px
	t opacity
	&:hover
		opacity 1

.feedback
	&__dialog
		max-width 500px
	&__success
		display none