.news
	.nav__item:nth-child(5)
		background white
		color black
	&-item
		width 100%
		border 1px solid #b2b3b3
		padding 18px 15px 13px
		margin-bottom 30px
		min-height 117px
		t(all)
		overflow hidden
		&:hover
			border-color black
		&--open
			border-color black
			.news-item__title, .news-item__date
				color red
		&__content
			margin-top 20px
			border-top 1px solid #e2e5e8
			padding 25px 20px 25px
			display none
			img
				max-width 100%
				margin-top 5px
			p
				font-size 16px
				font-weight 300
				margin-bottom 18px
				a
					cursor pointer
					font-weight: bold
					border-line(alpha(black, .2))
					color black
					&:hover
						color red
						border-line(alpha(red, .5))
		&__title, &__sub-title, &__date
			width 100%
			text-align: center
		&__title
			font-size 30px
			font-weight: bold
			margin-top 8px
			cursor pointer
			color black
			display block
			&--disabled
				pointer-events none
			&:hover
				color red
		&__sub-title
			font-size 16px
			font-weight 300
			margin-top -3px
			color #737379
		&__date
			text-transform: uppercase
			letter-spacing 5px
			font-size 11px
			color #171929
			font-weight: bold
	.dropdown
		max-width 95px
		position relative
		&__frame
			background red
			top 32px
			width 100%
			padding 4px 10px 2px
		&__item
			width 100%
			display inline-block
			color white
			font-size 12px
			font-weight: bold
		&--open
			.dropdown__trigger
				background red
				border-color red
				color white
				svg path
					fill white
		&__trigger
			border 1px solid black
			display block
			height 32px
			line-height 37px
			padding 0 10px
			position relative
			color black
			font-weight: bold
			font-size 13px
			z-index 5
			background white
			t(all)
			&:hover
				background red
				border-color red
				color white
				svg path
					fill white
			svg
				position absolute
				top 13px
				right 10px