.toolbar
	full-width()
	top           0
	left          0
	width         100%
	background    black
	z-index       300
	white-space   no-wrap
	height        40px
	line-height   40px
	margin-bottom 15px
	position      fixed
	z-index 1000
	@media (min-width scr_sm)
		height        50px
		line-height   50px
		margin-bottom 20px
	@media (min-width scr_md)
		position relative
	.search__frame
		display none
		.catalog &, .product &, .basket &
			display inline
	&:after
		display none
		position absolute
		background white
		height 1px
		width 100%
		top 50%
		left 0
		content ""
	&__number
		display inline-block
		vertical-align: middle
		color white
		font-size 13px
		margin-top 2px
		svg
			display inline-block
			vertical-align: middle
			width 15px
			height 15px
			margin-right 10px
			path
				fill white
		&:hover
			color red
			svg path
				fill red
	&__divider
		display inline-block
		height 20px
		width 1px
		background alpha(white,.3)
		vertical-align: middle
		margin 0 13px
	&__desktop
		display none
		@media (min-width scr_md)
			display block
	&__mobile
		svg
			display inline-block
			vertical-align: middle
			position relative
			top 1px
			max-height 18px
			max-width 25px
			path
				fill white
		@media (min-width scr_sm)
			display none
	&__tablet
		display none
		@media (min-width scr_sm)
			display block
		@media (min-width scr_md)
			display none
	&__nav-trigger
		font-weight bold
		text-transform: uppercase
		color white
		display inline-block
		vertical-align: middle
		position relative
		top 3px
		font-size 12px
		@media (min-width scr_sm)
			font-size 14px
		&:focus
			color white
		svg
			position relative
			top -2px
			width 25px
			height 20px
			display inline-block
			vertical-align: middle
			margin-right 8px
		&:hover
			color red
			svg
				path
					fill red
	.nav
		width 100%
		text-align: center
		list-style: none
		padding 0
		margin 0
		> li
			display inline-block
			max-height 50px
			position relative
			
			&:hover
				> ul
					opacity 1
					display block
					top 100%
					pointer-events all
				> .nav__item
					background red
					color white
			> ul
				position absolute
				top 70%
				left 0
				pointer-events none
				t all
				transition-delay .3s !important
				z-index: 2
				opacity 0
				padding 0
				list-style: none
				li
					float: left
					clear both
					height 30px
					width 100%
					> .nav__item
						line-height 35px
						display block
						height 30px
						width 100%
						text-align: left
						background red
						color white
						&:hover
							background black
		&__item
			t(background)
			display inline-block
			text-transform uppercase
			color white
			font-weight bold
			height 50px
			position relative
			z-index: 3
			padding-top 1px
			line-height 55px
			padding 0 14px
			font-size 12px
			background black
			overflow hidden
			&:hover
				background red
			&--active
				background white
				color black
				&:hover
					background white
					color black
	.lang
		line-height 56px
		&__item
			font-size 12px
			font-weight: bold
			color white
			opacity .5
			margin-right 4px
			&--active
				opacity 1
	.social
		width 100%
		line-height 52px
		&__item
			margin-right 8px
			&:last-of-type
				margin-right 0
			svg
				vertical-align: middle
				max-height 14px
				max-width 14px
				path
					fill white
			&:hover
				svg path
					fill red
	.auth
		width 100%
		line-height 53px
		color white
		white-space: nowrap
		text-align: right
		&--active
			.auth__profile
				display block
			.auth__login
				display none
		&__profile
			display none
			.auth__item:hover
				border-line(red, 11px, 4px)
		&__login
			display block
			.auth__item:hover
				border-dashed(red, 11px, 4px)
		&__divider
			position relative
			top 1px
			opacity .4
			margin 0 5px
		.auth__item
			font-size 13px
			color white
			@media (min-width scr_lg)
				font-size 11px
			&:hover
				color red
				
.header
	full-width()
	position relative
	z-index 500
	white-space no-wrap
	margin-bottom 10px
	@media (min-width scr_sm)
		margin-top 10px
		margin-bottom 25px
	.nav
		text-transform: uppercase
		margin 20px 0 35px
		position relative
		display none
		@media (min-width scr_sm)
			display block
		&__line
			content ""
			border-bottom 1px solid #d5dbdf
			position absolute
			top 7px
			left 0
			z-index -1
			width 0%
			t width
			&--after
				left auto
				right 0
		&__item
			padding 0 15px
			font-size 12px
			color #6e6f79
			font-weight: bold
			&:hover
				color red
			&--active
				color black
	&__mobile
		.logo
			svg
				max-width 80%
		@media (min-width scr_sm)
			display none
	&__desktop
		display none
		@media (min-width scr_sm)
			display block
	.logo
		&__line
			background #8797a2
			opacity .35
			height 1px
			display inline-block
			float left
			margin 17px 0
			width 100%
			display none
			@media (min-width scr_sm)
				width 100%
			@media (min-width scr_md)
				width 100%
			@media (min-width scr_lg)
				width 115%
				&--short
					width 104%
					
			.eng &
				max-width 100%
			&--left
				float left
				margin-left 50%
				transform translateX(-50%)
			&--right
				float: right
				margin-right 50%
				transform translateX(50%)
			&--short
				margin-left 0
				margin-right 0
				transform none
		svg
			width 100%
			height 30px
		
			
		.index &
			&__line
				width 100%
				@media (min-width scr_lg)
					width 120%
				margin 16px 0
				&--right
					float: right
			svg
				max-width 238px
				path
					fill white

	.city
		padding-left 33px
		position relative
		line-height 24px
		.bx-sls 
			margin-bottom 0
			.dropdown-block
				max-height 37px
				border 0
			.bx-ui-sls-pane
				width auto
		input[type="text"]
			width 100%
			height 37px
			padding 11px 15px 0 !important
			line-height 37px

			border 0 !important
			font-size 17px
			max-height none !important
			text-transform capitalize
		&__select
			display none
		&__trigger
			color black
			
			position relative
			span
				border-dashed alpha(@color, .5), 14px, 4px
			svg
				display inline-block
				left 100%
				margin-left 3px
			&:hover
				color red
				span
					border-dashed alpha(@color, .5), 14px, 4px
				svg path
					fill red
		&__value
			font-size 18px
			margin-bottom 20px
		&__button
			display inline-block
			padding 0 17px
			min-width 70px
			height 32px
			line-height 38px
			background white
			font-size 14px
			text-align: center
			text-transform: uppercase
			font-weight: bold
			margin-right 20px
			color black
			margin-top 10px
		&__description
			display inline-block
			line-height 17px
			margin-top 20px
		&__dropdown
			position absolute
			width 350px
			display none
			background red
			top 35px
			left 0px
			padding 15px 25px 15px
			color white
			font-size 13px
			&:after
				bottom: 100%
				left: 43px
				border: solid transparent
				content: " "
				height: 0
				width: 0
				position: absolute
				pointer-events: none
				border-bottom-color: red
				border-width: 10px
				margin-left: -10px
				
	.contacts
		position relative
		padding-left 33px
		margin-top 4px
		line-height 13px
		a
			color black
		&__number
			font-weight: bold
			color black
			font-size 14px
			margin-top 0px
			display inline-block
			&:hover
				color red
		&__text
			font-size 11px
			color #272727
			opacity .7
			t all
		svg
			left 0
			top 50%
			margin-top -8px
			width 23px
			height 23px
			position absolute
	&__links
		width 85%
		float right
		@media (min-width scr_md)
			width 100%
		@media (min-width scr_lg)
			width 80%
	.cart, .simmilar
		position relative
		font-size 12px
		color black
		margin-left 20px
		white-space no-wrap
		border-line(alpha(black,.2), 12px)
		svg
			top -1px
			left -20px
			position absolute
			width 16px
			height 13px
			t all
			path
				fill black
		&:hover
			color red
			border-line(alpha(red,.2), 12px)
			svg path
				fill red
	&--italbags
		@media (min-width scr_sm)
			margin-bottom 4px
			margin-top 15px
		.logo
			&__line
				display inline-block
			svg
				height 64px
				@media (min-width scr_md)
					height 74px
					margin-top -24px
		.contacts
			svg
				margin-top -12px
		.header
			&__links
				margin-top 9px
				svg
					width 20px
					height 20px
					left -29px
					top -4px
.sub-nav
	width 100%
	border-top 1px solid #d5dbdf
	border-bottom 1px solid #d5dbdf
	text-align: center
	padding 11px 0 8px
	@media (min-width scr_sm)
		margin-top 20px
		height 32px
		padding 0
	@media (min-width: scr_md)
		margin-top: 0
	&__item
		display inline-block
		margin-top -1px
		text-transform: uppercase
		font-weight: bold
		color #6e6f79
		letter-spacing: 1px
		line-height 22px
		height 18px
		font-size 11px
		padding 0 9px
		@media (min-width scr_sm)
			line-height 36px
			height 32px
			font-size 12px
			padding 0 12px
		@media (min-width: scr_md)
			font-size 11px
		&:first-of-type
			.menu-padding &
				@media (min-width: scr_lg)
					margin-left 190px
		.catalog--italbags .catalog__nav &, .s2 .catalog__nav &
			font-size 10px
			padding 1px 8px 0
		&:hover
			color red
		&--active
			color black
			@media (min-width scr_sm)
				border-bottom 2px solid black
			&:hover
				color black
.search
	width 100%
	position relative
	margin-top -1px
	&__button
		appearance none
		border 0
		background transparent
		width 29px
		height 29px
		background white
		position absolute
		padding 0
		top 2px
		right 2px
		line-height: 29px
		text-align: center
		svg
			path
				fill black
			vertical-align: middle
			display: inline-block
			position relative
			top 2px
		&:hover
			svg path
				fill red
	&__input
		width 100%
		height 33px
		border 2px solid black
		padding 0 8px
		line-height 35px
		font-size 11px
.brand-select
	z-index 300
	.dropdown
		position relative
		ul
			margin 0
			padding 0
			list-style none
			> li 
				position relative
				&:hover
					> ul
						opacity 1
					> .dropdown__item
						background black
				> ul
					position absolute
					top 0
					opacity 0
					t opacity
					left 100%
		&--open .dropdown__trigger
			background red
		&__trigger
			position relative
			z-index 40
			width 100%
			height 33px
			background black
			line-height 38px
			display inline-block
			margin-top -1px
			padding 0 10px
			font-size 10px
			text-transform: uppercase
			color white
			font-weight: bold
			t(background)
			@media (min-width scr_sm)
				font-size 12px
			svg 
				position absolute
				right 10px
				top 14px
				path
					fill white
			&:hover
				background red
		&__frame
			background red
			position absolute
			top 100%
			left 0
			width 100%
			z-index 20
			padding 0px
		&__item
			width 100%
			display inline-block
			color white
			text-transform: uppercase
			font-size 12px
			font-weight: bold
			padding 9px 10px 3px
			background red
			white-space no-wrap
			svg
				position absolute
				right 10px
				top 13px
				transform rotate(30deg)
				path
					fill white
			&:hover
				background black