.scroll-fix

footer.footer
	.container
		.row
			.col-xs-8.col-sm-3.col-sm-4.col-md-3
				.copyright © 2014 ООО «новый стиль студио» 
			.col-sm-3.col-md-2
				.contacts
					span Москва,  ул. адмирала макарова, 8 <br>
					a.contacts_link(href="mailto:info@fmarconi.ru") info@fmarconi.ru
			.col-sm-2
				.map
					a(href="#") карта сайта
			.col-xs-4.col-sm-3.col-md-2.col-lg-2.social
				a(href="#").social__item
					include ../../../public_html/layout/images/svg/facebook.svg
				a(href="#").social__item
					include ../../../public_html/layout/images/svg/twitter.svg
				a(href="#").social__item
					include ../../../public_html/layout/images/svg/google.svg
				a(href="#").social__item
					include ../../../public_html/layout/images/svg/pinterest.svg
			.col-md-3.col-lg-3.visible-md-block.visible-lg-block
				a.radia(href="http://radia.ru", target="_blank")
					include ../../../public_html/layout/images/svg/radia.svg
					.radia__content
						| разработка сайта <br>radia interactive
</body>
</html>