.toolbar
	.container
		.row
			.col-lg-2.visible-lg
				.social
					a.social__item(href="#")
						include ../../../public_html/layout/images/svg/facebook.svg
					a.social__item(href="#")
						include ../../../public_html/layout/images/svg/twitter.svg
					a.social__item(href="#")
						include ../../../public_html/layout/images/svg/google.svg
					a.social__item(href="#")
						include ../../../public_html/layout/images/svg/pinterest.svg
			.col-xs-10.col-lg-8
				nav.nav
					a.nav__item(href="#") О бренде
					a.nav__item(href="#") Партнерам
					a.nav__item(href="#") Магазины
					a.nav__item(href="#") Lookbook
					a.nav__item(href="#") Новости
					a.nav__item(href="#") Интернет-магазин
					a.nav__item(href="#") Контакты
			.col-xs-2
				.auth
					a.auth__item(href="#") Авторизация
					span.auth__divider |
					a.auth__item(href="#") Регистрация